*{
    box-sizing: border-box;
}
.App{
    background-color: #292929;
    height: 100%;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

:root{
    color:#fff !important;
}

.Content{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

}

.css-mmst5v {
    background-color: #292929 !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #ffa31a !important ;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #ffa31a !important ;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color: #fff !important;
}

.dropdown .option option:hover{
    background-color: #ffa31a !important;
}

.css-1mcnwpj-MuiList-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-1ovif3x-MuiSkeleton-root {
    height: 2rem !important;
}

.css-1q2h7u5.Mui-selected{
    color: #ffa31a !important ;
}

.css-ttwr4n{
    background-color: #ffa31a !important;
}